@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.background {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 1028px;
    display: flex;
    height: 61px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 17px;
    padding-top: 51px;
}

.logo {
width: 180px;
height: 51px;
display: flex;
justify-content: start;
align-items: center;
}

.img_milan {
    width: 53px;
    height: 47px;
    background-image: url(../img/logo.svg);
    transition: 0.5s;
}

.text_logo {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-weight: 700;
    padding-left: 8px;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: 0.5s;
    padding-top: 5px;
}
.milan_word {
    font-size: 29px;
    line-height: 29px;
}
.Holidays_word {
    font-size: 18px;
    line-height: 18px;
}

.logo:hover .img_milan {
    background-image: url(../img/logo\ 2.svg);
}
.logo:hover .text_logo {
    color: #F26522;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.email {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-bottom: 19px;
    
}
.phone_number {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.main_content {
    width: 1028px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 54px 37px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}
.main_items_image {
    width: 300px;
    height: 220px;
}

.types_of_tours {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 18px;
    display: flex;
    text-align: center; 
    color: #FFFFFF;
    padding-top: 20px;
}
.footer_text {
    width: 1028px;
    display: flex;
    height: 21px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 48px;}

.copyright {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.text_logo a:hover {
    color: #F26522;
}

a {
    text-decoration: none;
}

.contacts a:hover {
    color: #F26522;
}
.contacts a{
    transition: 0.5s;
}
.types_of_tours {
    transition: 0.5s;
}
.types_of_tours:hover {
    color: #F26522;
}
.hover_item {
    color: #fff;
    background-color: #F26522;
    height: 55px;
    width: 300px;
    position: absolute;
    top: 225px;
    left: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    transition: 0.5s;
}
.hover_first_item {
    padding-top: 7px;
    padding-left: 16px;
}
.from {
    font-size: 10px;
}
.price {
    padding-top: 8px;
    font-size: 20px;
}
.details {
    align-self: flex-end;
    padding-right: 16px;
    padding-bottom: 12px;
    position: relative;
    padding-right: 37px;
}
.details::after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    transform: rotate(45deg);
    border-right: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    top: 5px;
    right: 14px;
}

.hover_block {
    position: relative;
    overflow: hidden;
}
.hover_block:hover .hover_item{
    top: 165px;
}
.main_items_hover:hover .types_of_tours {
    color: #F26522;
}